{% load static %}

<style>
  #hello-msg{
    font-size:28px;
    color:white;
    margin-right : 30px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'home' %}"><img src="{% static 'images/가젤.jpg' %}" id="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">대시보드</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">제품군</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">My 프로필</a>
          </li>
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
    <span id="hello-msg">반가워요, {{request.user.username}}    </span>
    <span><a class="btn btn-primary" href="{% url 'logout' %}">로그아웃하기</a></span>
  </nav>