<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">if문써보기 전체 주문량{{total_orders}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% if total_orders %}{{total_orders}}{%else%} 추가 바랍니다 {%endif %}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">배송완료</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% if delivered %}{{delivered}}{%else%} 추가 바랍니다 {%endif %}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">보류</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% if pending %}{{pending}}{%else%} 추가 바랍니다 {%endif %}</h5>
                </div>
            </div>
        </div>
    </div>
</div>